<?xml version='1.0' encoding='utf-8'?>
<widget id="com.EchoSierraStudio.Newsfeeder" version="1.2.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Newsfeeder</name>
    <description>
        The easiest way to follow news from your favorite websites and blogs and news sites. 
        Easily search for news on multiple platforms, find feeds on popular websites and more. 
        Also works as a classic RSS/Atom reader.
    </description>
    <author email="polyismstudio@gmail.com" href="https://esstudio.site/">
        Sem Postma
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http:*" />
    <allow-intent href="https:*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="StatusBarBackgroundColor" value="#f22f0d" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="HeaderColor" value="#f5593d" />
    <preference name="orientation" value="portrait" />
    <preference name="SplashScreen" value="logo.png" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="500" />
    <preference name="SplashScreenBackgroundColor" value="#ffffff" />
    <preference name="SplashScreenWidth" value="256" />
    <preference name="SplashScreenHeight" value="256" />
</widget>
