<ons-page id="about-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">About</div>
    </ons-toolbar>
    <div style="padding: 10px;">
        <h1>About</h1>
        <img style="margin: 0 10px 10px 0; float: left; max-width: 50%;" src="images/logo.png">
        <p>
            The easiest way to follow news from your favorite websites and blogs and news sites. Easily search for news on multiple platforms,
            find feeds on popular websites and more. Also works as a classic RSS/Atom reader.
        </p>
        <div class="clearfix"></div>
        <p>
            Available on your browser and in the google play store.
        </p>
        <h4>Guide</h4>
        <p>
            When you first open the app, you will see the recommendations page. This page allows you to easily add and remove popular
            feeds.
        </p>
        <p>
            <img src="images/menu.png">
        </p>
        <p>
            If you're not already on the &quot;Recommended&quot; page, open the menu (by clicking the 3 bars in the upper left), and
            click on &quot;Recommended&quot;.
        </p>
        <p>
            <img src="images/recommended.png">
        </p>
        <p>
            You will now see the interface above. Which is a list of recommended feeds.
        </p>
        <p>
            <img src="images/recommended-2.png">
        </p>
        <p>
            Let's add CNN.com.
        </p>
        <p>
            <img src="images/news-feed-initial.png">
        </p>
        <p>
            Next, navigate to the "News" or "My Feeds" page. No posts from CNN.com have shown up yet because the page is still loading
            the CNN.com feed.
        </p>
        <p>
            <img src="images/news-feed-loading.png">
        </p>
        <p>
            Wait for the progress bar right under the toolbar to complete.
        </p>
        <p>
            <img src="images/news-feed.png">
        </p>
        <p>
            The progress bar has completed and the CNN.com posts have shown up.
        </p>
        <p>
            <img src="images/news-search.png">
        </p>
        <p>
            You can also use the search field to filter posts. It will search the name of the feed, for example CNN.com, to only show
            posts from CNN.com. It will also search in the posts title, description and content.
        </p>
        <p>
            <img src="images/search-feed.png">
        </p>
        <p>
            Let's try to find a custom feed on a website. Note that not all websites have these, and their might be a good chance the
            app will not be able to find one. If the app can't find a feed, you can always search google to find an RSS (or
            Atom) feed. As the app will also recognize these. For example the app cannot find a google news feed (&quot;news.google.com&quot;),
            but after a simple google search you will find that &quot;news.google.com/rss&quot; does work.
        </p>
        <p>
            <img src="images/add-feed-loading.png">
        </p>
        <p>
            This could a few seconds depending on your network.
        </p>
        <p>
            <img src="images/add-feed.png">
        </p>
        <p>
            After the loading you will see the feed and it's posts. You can add it into your personal feed by clicking the &quot;plus&quot;
            button.
        </p>
        <p>
            <img src="images/news-feed-added-item.png">
        </p>
        <p>
            You will now see all of the posts, from the feed you have just added, in your "My Feeds" or "News" page.
        </p>
        <p>
            <img src="images/feeds.png">
        </p>
        <p>
            You can view all of your subscribed feeds by navigating to the &quot;Feeds&quot; page. This will show not only the recommended
            feeds but also custom feeds that you had manually added.
        </p>
    </div>
    <ons-card>
        <div class="title">Other</div>
        <div class="content">
            <a target="_system" href="https://esstudio.site/contact/">Contact opnemen met de ontwikkelaar</a>
            <br>
            <a target="_system" href="https://esstudio.site">Website van de ontwikkelaar</a>
            <br>
            <a href="mailto:polyismstudio@gmail.com?subject=Newsfeeder&amp;body=Your%20message." target="_top">Stuur Email</a>
            <br>
            <a target="_system" href="https://echosierrastudio.github.io/EchoSierraStudio/privacy-policy.html">Privacy Policy</a>
            <br>
            <div>Icons made by
                <a href="https://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha">Pixel Buddha</a> from
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
            <div>Icons made by
                <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
        </div>
    </ons-card>
</ons-page>