<ons-page id="add-opml-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">Add OPML</div>
    </ons-toolbar>
    <div>
        <ons-list>
            <div style="padding: 10px;">
                <h1>
                    OPML
                </h1>
                <p>
                    OPML is a file that contains a list of rss and atom sources.
                    You can import these files as a url or by opening an OPML file on your device.
                </p>
            </div>
            <ons-list-item>
                <div class="left"><ons-icon icon="md-link"></ons-icon></div>
                <div class="center">
                    <div style="width: 100%">
                        <h2>Add OPML from URL</h2>
                        <p>Open an OPML file from the specified url.</p>
                        <ons-input placeholder="Enter the URL" style="width: 100%" id="add-opml-open-url" type="url"></ons-input>
                    </div>
                </div>
                <div class="right">
                    <ons-button id="add-opml-open-url-btn">Open URL</ons-button>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="left"><ons-icon icon="md-file"></ons-icon></div>
                <div class="center">
                    <div style="width: 100%">
                        <h2>Add OPML from file</h2>
                        <p>Open an OPML file from your device.</p>
                    </div>
                </div>
                <div class="right">
                    <label>
                        <ons-button>Open File</ons-button>
                        <ons-input id="add-opml-open-file" 
                            style="display: none" type="file" 
                            accept=".opml,.xml"></ons-input>
                    </label>
                </div>
            </ons-list-item>
        </ons-list>
        
    </div>
</ons-page>