<ons-page id="add-feed-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">Add Feed</div>
    </ons-toolbar>
    <ons-progress-bar id="add-feed-page-progress" value="33"></ons-progress-bar>
    <div>
        <div id="add-feed-page-initial-content" style="display: none;">
            <div style="padding: 10px;">
                <h1>
                    Search feed
                </h1>
                <p>Please search for the icon
                    <ons-icon icon="md-rss"></ons-icon> or an icon that looks like it, 
                    on the website for which you would like to import it's blog/news articles. 
                    Select the icon and copy the link, or open the link and copy
                    the url from the adress bar. 
                    You can also try a plain website url like &quot;reddit.com&quot;.
                    After that try again by pasting the link below:
                </p>
                <form novalidate style="text-align: center;" id="add-feed-page-url-find-feed-form">
                    <p>
                        <ons-input type="url" id="add-feed-page-url-rss" modifier="underbar" placeholder="Feed link" float></ons-input>
                    </p>
                    <p style="margin-top: 30px;">
                        <button class="button" type="submit" id="add-feed-page-url-find-feed">Find feed</button>
                    </p>
                </form>
            </div>
        </div>
        <div id="add-feed-page-notfound-content" style="display: none">
            <div style="padding: 10px;">
                <h1>
                    Could not find feed on 
                    &quot;<span id="add-feed-page-url-not-found-url"></span>&quot;
                </h1>
                <p>Please search for the icon
                    <ons-icon icon="md-rss"></ons-icon> or an icon that looks like it. Select the icon and copy the link or open the link and copy
                    the url from the adress bar. After that try again by pasting the link below:
                </p>
                <form novalidate style="text-align: center;" id="add-feed-page-url-not-found-find-feed-form">
                    <p>
                        <ons-input type="url" id="add-feed-page-url-not-found-rss" modifier="underbar" placeholder="Feed link" float></ons-input>
                    </p>
                    <p style="margin-top: 30px;">
                        <button class="button" type="submit" id="add-feed-page-url-not-found-find-feed">Find feed</button>
                    </p>
                </form>
            </div>
        </div>
        <div id="add-feed-page-content" style="display: none;">
            <ons-list id="add-feed-page-items">
                <ons-list-item>
                    <div class="left">
                        <img id="add-feed-page-icon" class="list-item__thumbnail">
                    </div>
                    <div class="center">
                        <span id="add-feed-page-title" class="list-item__title"></span>
                        <span id="add-feed-page-description" class="list-item__subtitle"></span>
                    </div>
                    <div class="right">
                        <ons-fab modifier="mini" id="add-feed-page-subscribe-btn">
                            <ons-icon icon="md-plus">
                            </ons-icon>
                        </ons-fab>
                    </div>
                </ons-list-item>
                <ons-list-item>
                    <div id="add-feed-page-site" class="center"></div>
                </ons-list-item>
                <ons-list-header>Feed</ons-list-header>
            </ons-list>
            <ons-fab style="position:fixed;" id="add-feed-page-subscribe-btn2" position="bottom right">
                <ons-icon icon="md-plus">
                </ons-icon>
            </ons-fab>
        </div>
    </div>
    <ons-progress-circular class="abs-center" id="add-feed-page-progress-circular" indeterminate></ons-progress-circular>
</ons-page>