<ons-page data-id="category-page">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center category-page-title">Category</div>
        <div class="right">
            <ons-toolbar-button onclick="fn.navigator.pushPage('views/about.html')">
                <ons-icon icon="ion-help"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div>
        <ons-list>
            <ons-list-header>Categories</ons-list-header>
            <div class="category-sub-category-items"></div>
            <ons-list-item class="category-sub-category-add">
                <div class="left"><ons-icon icon="md-collection-plus"></ons-icon></div>
                <div class="center">
                    <div class="category-create-message">Create a new sub category</div>
                </div>
                <div class="right">
                    <ons-fab modifier="mini"><ons-icon icon="md-plus"></ons-icon></ons-fab>
                </div>
            </ons-list-item>
            <ons-list-item class="category-sub-category-edit">
                <div class="left"><ons-icon icon="md-edit"></ons-icon></div>
                <div class="center">
                    <div>Edit</div>
                </div>
                <div class="right">
                    <ons-fab modifier="mini"><ons-icon icon="md-edit"></ons-icon></ons-fab>
                </div>
            </ons-list-item>
            <ons-list-header>Feeds</ons-list-header>
            <div class="category-page-category-feeds"></div>
        </ons-list>
    </div>
</ons-page>