<ons-page id="download-opml-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">OPML Export</div>
        <div class="right">
            <ons-toolbar-button onclick="fn.navigator.pushPage('views/about.html')">
                <ons-icon icon="ion-help" class="ons-icon ion-help ons-icon--ion"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div style="padding: 10px;">
        <h1>
            OPML Export
        </h1>
        <p>
            OPML is a file that contains a list of rss and atom sources.
            You can download a list of those rss and atom sources by using the clicking the button below.
        </p>
        <a id="download-opml-link" download="newsfeeder-subscriptions.opml">
            <ons-button>Download Your Newsfeed OPML</ons-button>
        </a>
    </div>
</ons-page>