<ons-page id="recommended-page">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Recommended</div>
        <div class="right">
            <ons-toolbar-button onclick="fn.navigator.pushPage('views/about.html')">
                <ons-icon icon="ion-help" class="ons-icon ion-help ons-icon--ion"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div>
        <div>
            <ons-card>
                <div class="content">
                    <b>Popular news/blog feeds can be easily added or removed. If you want to view all your feeds, go to the &quot;Feeds&quot; page.</b><br>
                    Confused? Have a look at the &quot;About&quot; page and view the instructions on how to use this app.
                </div>
            </ons-card>
        </div>
        <ons-list>
            <ons-list-header>Recommended</ons-list-header>
            <div id="recommended-feeds-items">

            </div>
            <ons-list-header>Sources</ons-list-header>
            <div id="recommended-sites-items">

            </div>
        </ons-list>
    </div>
</ons-page>