<ons-page id="splitter">
    <ons-splitter>
        <ons-splitter-side id="menu" side="left" width="220px" collapse swipeable>
            <ons-page>
                <ons-list>
                    <ons-list-item onclick="fn.load('views/news.html')" tappable>
                        <ons-icon icon="md-email-open"></ons-icon>&nbsp; My Feed
                    </ons-list-item>
                    <ons-list-item onclick="fn.load('views/feeds.html')" tappable>
                        <ons-icon icon="md-collection-text"></ons-icon>&nbsp; Feeds
                    </ons-list-item>
                    <ons-list-item onclick="fn.load('views/recommended.html')" tappable>
                        <ons-icon icon="md-badge-check"></ons-icon>&nbsp; Recommended
                    </ons-list-item>
                    <ons-list-item onclick="fn.navigator.pushPage('views/about.html')" tappable>
                        <ons-icon icon="md-info-outline"></ons-icon>&nbsp; About
                    </ons-list-item>
                </ons-list>
            </ons-page>
        </ons-splitter-side>
        <ons-splitter-content id="content" page="views/news.html"></ons-splitter-content>
    </ons-splitter>
</ons-page>