<ons-page id="storage-page">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Storage</div>
        <div class="right">
            <ons-toolbar-button onclick="fn.navigator.pushPage('views/about.html')">
                <ons-icon icon="ion-help" class="ons-icon ion-help ons-icon--ion"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div>
        <ons-list>
            <ons-list-item id="storage-quota" style="display: none">
                <div class="left">
                    <ons-icon icon="md-storage"></ons-icon>
                </div>
                <div class="center">
                    <div id="storage-quota-bar"></div>
                    <div>
                        Using&nbsp;<span id="storage-usage-percentage"></span>%&nbsp;out of total availiable storage.<br>
                        <span id="storage-usage"></span>&nbsp;used out of&nbsp;<span id="storage-limit"></span>&nbsp;availiable.<br>
                    </div>
                </div>
            </ons-list-item>
            <ons-list-item>

            </ons-list-item>
            <div id="storage-app-items">
                
            </div>
        </ons-list>
    </div>
</ons-page>